html, body {
    background-color: #25272C;
    color: #F8F8F8;
    font-family: Arial, Helvetica, sans-serif;

    margin:0%;
    padding:0%;
}

a:link { color: lightskyblue; }
a:visited { color: #6d4b8d; }
a:hover { color: #F8F8F8; }
a:active { color: #ff4040; text-decoration:none; font-weight:normal; }

.pagination {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
  
  .pagination a {
    color: white;
    background-color: #1C6DDF;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4381d7;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #367bdb;}
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }